{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- The style copied from https://getbootstrap.com-->
<!-- The quotes copied rom https://photutorial.com/photography-quotes/-->
<script  src="{% static 'pages/js/alt.js' %}"></script>
<script src="{% static 'pages/js/1.js' %}"></script>
<div class="row featurette">
      <div class="col-md-7">
          <script src="{% static 'pages/js/alart.js' %}"></script>
          <BR>
          <BR>
          <BR>
          <BR>
          <BR>
          <BR>
<h2><i>James Wilson</i> </h2>
            <p><i> “In the world of photography, you get to share a captured moment with other people.”</i></p>

      </div>
      <div class="col-md-5">
          <img  src="{% static 'pages/image/h1.jpg' %}" alt="" width="400" height="400" class="d-inline-block align-text-top">

      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
          <BR>
          <BR>
          <BR>
          <BR>
          <BR>
<h2><i> Marc Riboud</i> </h2>
            <p><i> “Taking pictures is savoring life intensely, every hundredth of a second.”</i></p>

      </div>
      <div class="col-md-5 order-md-1">
 <img  src="{% static 'pages/image/h2.jpg' %}" alt="" width="400" height="400" class="d-inline-block align-text-top">
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
          <BR>
          <BR>
          <BR>
          <BR>
          <BR>
          <h2><i> Orson Welles</i></h2>
            <p><i> “The camera is much more than a recording apparatus, it is a medium via which messages reach us from another world.”</i></p>
      </div>
      <div class="col-md-5">
                    <img src="{% static 'pages/image/h3.JPG' %}" alt="" width="400" height="400" class="d-inline-block align-text-top">

      </div>
    </div>
    <hr class="featurette-divider">
<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
  </div>
</body>
</html>
<br>


{% endblock %}