{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- The style copied from https://getbootstrap.com -->
<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic"> Wellcome to my blog! </h1>
      <p>Here I will share with you all our new news</p>
    </div>
  </div>
{% for x in post.all %}


   <div class="row mb-2">
            <div class="col-md-6">

                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                    <div class="col p-4 d-flex flex-column position-static">

                        <h3 class="mb-0">{{x.title}}</h3>
                        <div class="mb-1 text-muted">{{x.date}}</div>
                        <p class="card-text mb-auto">{{x.text}}</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img rounded-square" src="{{ x.image.url}}"
                             width="230" height="230" class="d-inline-block align-text-top">

                    </div>
                </div>
            </div>
        </div>


    {% endfor %}
{% endblock %}

